<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kango_Konektor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Kango_Konektor.Properties.Settings>
            <setting name="Kango_Konektor_poseidon_gvd" serializeAs="String">
                <value>http://poseidon.kst.fri.uniza.sk/kangostabil/apps/export/gvd.asmx</value>
            </setting>
        </Kango_Konektor.Properties.Settings>
    </applicationSettings>
</configuration>